body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #222;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #444;
}

#buttons button {
  background-color: #ffc107; /* sariq */
  border: none;
  color: black;
  font-size: 24px;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

#buttons button:hover {
  transform: scale(1.1);
}

#result {
  margin-top: 20px;
  font-size: 28px;
}
button{
    transform: scale(0.99);
}